@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-3xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  h5 {
    @apply text-lg font-bold;
  }
  p {
    @apply text-base font-normal;
  }
}

td,
th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input:disabled,
textarea:disabled,
select:disabled,
textarea:disabled,
.MuiSelect-button.css-1hr8yhh-JoySelect-button:disabled {
  color: rgb(119, 119, 119) !important; /* Change the text color to black */
  border-color: black !important; /* Change the border color to black, if applicable */
  background-color: inherit !important; /* Keep the background color same as inherited, if you want */
  opacity: 1 !important; /* Remove any reduced opacity, if needed */
}
